@use './variables';

@mixin media-query($key) {
	$size: map-get(variables.$breakpoints, $key);

	@media only screen and (min-width: $size) {
		@content;
	}
}

@mixin lines-pattern-base {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		width: 16rem;
		height: 7.6rem;
		background-image: url('../assets/images/patterns/pattern-lines.svg');
	}
}
