@use '../../abstracts/mixins';
@use './form-input';
@use '../../utility/visually-hidden';

.custom-select {
	position: relative;

	select {
		@extend .visually-hidden;
	}

	select:is(:hover, :focus) ~ &__focus {
		outline: 1px solid currentColor;
		outline-offset: 2px;
	}

	&[data-open='true'] &__focus img {
		transform: rotate(-180deg);
	}

	&:not([data-open='true']) &__options {
		display: none;
	}

	&__focus {
		@extend .form-input;

		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;

		& * {
			pointer-events: none;
		}

		& img {
			transition: transform 350ms ease-in-out;
		}
	}

	&__options {
		display: grid;
		gap: 1.6rem;
		position: absolute;
		left: 0;
		top: calc(100% + 0.8rem);
		min-width: 100%;
		padding: 1.6rem;
		background-color: var(--clr-neutral-100);
		box-shadow: 0 1.5rem 2.5rem hsl(219deg 21% 28% / 0.25);
	}

	&__option {
		display: inline-flex;
		align-items: center;
		gap: 1.6rem;
		cursor: pointer;

		& * {
			pointer-events: none;
		}

		& img {
			opacity: 0;
		}

		&.focused {
			outline: 1px solid red;
		}

		&[data-selected='true'] img {
			opacity: 1;
		}
	}
}
