.form-input {
	padding-block-start: 0.2rem;
	padding-block-end: 1.4rem;
	padding-inline: 1.6rem;

	width: 100%;
	max-width: 100%;

	color: var(--form-colour, currentColor);
	background: none;
	border: none;
	border-bottom: 1px solid var(--form-colour, hsl(0deg 0% 56%));

	&::placeholder {
		color: var(--form-colour, currentColor);
		opacity: 0.5;
	}
}
