@use '../abstracts/mixins';

.even-columns-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4.8rem;

	& > * {
		flex-basis: 100%;
	}

	@include mixins.media-query(large) {
		flex-direction: row;
		gap: 3rem;

		&--reversed {
			flex-direction: row-reverse;
		}
	}
}

.cta-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.4rem;
	@include mixins.media-query(large) {
		flex-direction: row;
		justify-content: space-between;
	}
}

.tab-buttons-flex {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	@include mixins.media-query(medium) {
		flex-direction: row;
		justify-content: space-between;
		gap: 3.2rem;
	}
	@include mixins.media-query(large) {
		flex-direction: column;
		align-items: flex-start;
		gap: 1.2rem;
	}
}

.flex-align-start-lg {
	@include mixins.media-query(large) {
		align-items: flex-start;
	}
}
