@use '../abstracts/mixins';

.cta-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.4rem;
	@include mixins.media-query(large) {
		flex-direction: row;
		justify-content: space-between;
	}
}
