@use '../abstracts/mixins';

.page-footer-grid {
	display: grid;
	gap: 4rem;
	grid-template-areas:
		'logo'
		'address'
		'times';

	@include mixins.media-query(medium) {
		grid-template-areas:
			'logo address'
			'. times';
		grid-template-columns: 20rem 1fr;
	}
	@include mixins.media-query(large) {
		grid-template-areas: 'logo address times';

		grid-template-columns: 25rem 1fr 1fr;
	}

	& > [data-area='logo'] {
		grid-area: logo;
	}
	& > [data-area='address'] {
		grid-area: address;
	}
	& > [data-area='times'] {
		grid-area: times;
	}
}

.slide-grid {
	display: grid;
	gap: clamp(2.8rem, 6.25vw, 7.2rem);
	justify-items: center;
	grid-template-areas:
		'buttons'
		'content'
		'link';
	@include mixins.media-query(large) {
		justify-items: start;
		grid-template-areas:
			'content'
			'link'
			'buttons';
	}

	& > [data-area='content'] {
		grid-area: content;
	}

	& > [data-area='buttons'] {
		grid-area: buttons;
	}

	& > [data-area='link'] {
		grid-area: link;
	}
}
